@import "styles.css";

header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.main2 {
  margin: auto 3%;
  padding-bottom: 5%;
}

.title {
  margin-top: calc(var(--header-height) + 5%);
}

.post-meta {
  display: flex;
  justify-content: space-between;
  margin-right: 7px;
}

.social {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  padding: 5px;
}

.social:hover {
  color: var(--first-color-alt);
}

.description {
  margin-top: var(--mb-0-5);
  font-size: var(--normal-font-size);
}

.back {
  margin-top: var(--mb-1-5);
  display: block;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-size: var(--h3-font-size);
}

.back:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/*==================== portfolio ====================*/
.uni-heading {
  font-size: var(--h1-font-size);
  margin-top: var(--mb-2-5);
  margin-bottom: var(--mb-1);
  color: var(--first-color);
}

.pdf {
  width: 95%;
  height: 355px;
  margin-top: var(--mb-1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.pdf-link {
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

/*==================== MEDIA QUERIES ====================*/
/* For medium devices */
@media screen and (min-width: 768px) {
  .main2 {
    margin: auto 7%;
  }

  .uni1,
  .uni2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .main2 {
    max-width: 950px;
    margin: auto;
  }
}
